matrix:
  include:
    - name: "MacOS + Clang"
      os: osx
      osx_image: xcode10.1
      compiler: clang
      before_install:
        - pip3 install -r requirements.txt
      before_script:
        - git config --replace-all remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
        - git fetch --unshallow
        - git checkout $TRAVIS_BRANCH
        - git reset --hard $TRAVIS_COMMIT
      script:
        - "cd test && python3 -m nose --rednose --verbose"
      env:
        PQCLEAN_ONLY_DIFF: 1
      addons:
        homebrew:
          packages:
            - astyle
    - name: "MacOS + GCC8"
      os: osx
      osx_image: xcode10.1
      compiler: gcc
      addons:
        homebrew:
          packages:
            - astyle
            - gcc@8
      env:
        PQCLEAN_ONLY_DIFF: 1
      before_install:
        - git config --replace-all remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
        - git fetch --unshallow
        - git checkout $TRAVIS_BRANCH
        - git reset --hard $TRAVIS_COMMIT
        - pip3 install -r requirements.txt
        - brew link gcc
        - export PATH="/usr/local/bin:$PATH"
        - ln -s /usr/local/bin/gcc-8 /usr/local/bin/gcc
        - gcc --version
      script:
        - "cd test && python3 -m nose --rednose --verbose"


cache: pip

#  vim: set ft=yaml ts=2 sw=2 tw=0 et :
